<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6116CAD81D12C118005CF1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6116CAEC1D12C118005CF1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6116CAF71D12C119005CF1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
